<div id="<%= dom_id malfunction %>">

  <p>
    <strong>Malfunction_id:</strong>
    <%= malfunction.id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= malfunction.track_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= malfunction.date %>
  </p>

  <p>
    <strong>Time from:</strong>
    <%= malfunction.time_from %>
  </p>

  <p>
    <strong>Time to:</strong>
    <%= malfunction.time_to %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= malfunction.comment %>
  </p>

</div>
