<div id="<%= dom_id price_list %>">

  <p>
    <strong>Price_list_id:</strong>
    <%= price_list.id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= price_list.price %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= price_list.item_type %>
  </p>

  <p>
    <strong>Weekday:</strong>
    <%= price_list.weekday %>
  </p>

  <p>
    <strong>Time from:</strong>
    <%= price_list.time_from %>
  </p>

  <p>
    <strong>Time to:</strong>
    <%= price_list.time_to %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= price_list.current %>
  </p>

</div>
