<div id="<%= dom_id reservation %>">
  <p>
    <strong>Reservation:</strong>
    <%= reservation.reservation_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Time from:</strong>
    <%= reservation.time_from %>
  </p>

  <p>
    <strong>Time to:</strong>
    <%= reservation.time_to %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= reservation.price_list_id %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= reservation.track_id %>
  </p>

  <p>
    <strong>Shoe:</strong>
    <%= reservation.shoe_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= reservation.client_id %>
  </p>

</div>
